<!-- JS selector for site. -->

{% assign urls = site.data.origin[type].jquery.js
  | append: ','
  | append: site.data.origin[type].bootstrap.js
  | append: ','
  | append: site.data.origin[type].search.js
%}

<!-- Additional scripts based on page layout -->
{% if page.layout == 'post' or page.layout == 'page' or page.layout == 'home' %}
  {% assign urls = urls | append: ',' | append: site.data.origin[type]['lazy-polyfill'].js %}
{% endif %}

{% if page.layout == 'home'
  or page.layout == 'post'
  or page.layout == 'archives'
  or page.layout == 'category'
  or page.layout == 'tag'
%}
  {% assign locale = site.lang | split: '-' | first %}
  {% if locale == nil or locale == empty %}
    {% assign locale = 'en' %} <!-- Default locale -->
  {% endif %}
  {% assign dayjs_locale_url = 'https://cdn.jsdelivr.net/npm/dayjs@1.11.10/locale/' | append: locale | append: '.min.js' %}

  {% assign urls = urls
    | append: ','
    | append: 'https://cdn.jsdelivr.net/npm/dayjs@1.11.10/dayjs.min.js'
    | append: ','
    | append: dayjs_locale_url
    | append: ','
    | append: 'https://cdn.jsdelivr.net/npm/dayjs@1.11.10/plugin/relativeTime.min.js'
    | append: ','
    | append: 'https://cdn.jsdelivr.net/npm/dayjs@1.11.10/plugin/localizedFormat.min.js'
  %}
{% endif %}


<!-- Include Mermaid if needed -->
{% if page.mermaid %}
  {% assign urls = urls | append: ',' | append: site.data.origin[type].mermaid.js %}
{% endif %}

<!-- Combine and include scripts -->
{% include jsdelivr-combine.html urls=urls %}

<!-- Rest of your js-selector.html code remains the same -->
